body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $fonts;
  padding-top: #{$nav-height + 10};

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($primary-light, 15%);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($primary-dark, .7);
  }
}

*, :after, :before {
  box-sizing: border-box;
}

*:focus, *:active, *:visited {
  outline: none !important;
}

::selection {
  background: rgba($primary-dark, .95);
  color: $primary-light-hover;
}

::-moz-selection {
  background: rgba($primary-dark, .95);
  color: $primary-light-hover;
}

a:hover {
  text-decoration: none;
}

button, input, textarea {
  outline: none !important;
}

input, textarea {
  line-height: normal;
}

.List--naked {
  list-style: none;
  padding: 0;
  margin: 0;
}

.List--inline li {
  display: inline-block;
}

.btn-round {
  border-radius: 500px;
}

.btn-well {
  font-size: 14px;
  line-height: 1.5;
  padding: 7px 35px 7px;
  font-weight: 500;
  opacity: 1;
  border: none;
  @include ts();

  &:hover {
    opacity: .6;
  }
}

.btn-blue {
  background: $qq-color !important;
  color: #fff;
}

.loading {
  opacity: .25;
  pointer-events: none;
  @include ts(opacity ease-in-out .35s);
}

.done-loaded {
  opacity: 1;
  pointer-events: all;
  @include ts(opacity ease-in-out .25s);
}

.shaky {
  @include am(shake ease-in-out .7s backwards);
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-12px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(12px, 0, 0);
  }
}