.Footer {
  background: url("/assets/images/footer_texture.png") repeat #070826;
  color: #eee;
  margin: 0;

  a {
    color: #ddd;  
  }
  
  @include has(container) {
    @extend .container;
  }

  @include has(brand) {
    padding: 15px 0;

    img {
      width: 44px;
      height: 44px;
      margin-right: 10px;
      opacity: .85;
      @include am(zoom 1.15s infinite);
    }

    ul {
      line-height: 43px;

      li {
        padding-right: 15px;
      }
    }
  }

  @include has(icp) {
    text-align: right;
    padding: 0 15px 15px;
  }
}