.Popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  @include has(box) {

  }

  @include has(overlay) {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .55);
    @include ts();
  }
}