.Inbox {
  @at-root .open &, .user-notification:hover + & {
    visibility: visible;
    opacity: 1;
    margin-top: 17px !important;
  }

  &:hover {
    visibility: visible;
    opacity: 1;
    margin-top: 17px !important;
  }

  display: block;
  visibility: hidden;
  opacity: 0;
  margin-top: 40px;
  width: 300px;
  position: absolute;
  top: 100%;
  z-index: 1000;
  background: rgba(#403e3e, 0.88);
  left: auto;
  right: 0;
  border-radius: 6px;
  padding: 1em 0;
  box-shadow: 0 1px 15px 2px rgba(0, 0, 0, .35);
  @include ts();

  &:before {
    position: absolute;
    top: -16px;
    right: 15px;
    display: inline-block !important;
    border: 8px solid transparent;
    border-bottom-color: rgba(#403e3e, 0.88);
    content: '';
  }

  @include has(blurry-overlay) {

  }

  @include has(title) {
    margin: .5em .25em 1em;

    p {
      font-size: 1.1em;
      font-weight: bold;
      margin: 0 1.5em;
      color: #f1a88c;
    }
  }

  @include has(inner) {
    margin: 0;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100%;
    border-bottom: 1px solid rgba($themewhite, .15);
    max-height: 350px;
  }

  @include has(list) {
    padding: 0;
  }

  @include has(item) {
    border-top: 1px solid rgba($themewhite, .15);

    > a {
      padding: 10px 10px 10px 15px;
      font-size: .9em;
      text-decoration: none;
      position: relative;
      display: block;

      > .badge {
        height: 25px;
        width: 25px;
        float: left;
        position: relative;
        padding-top: 6px;
        margin-right: 5px;
        display: block;

        &:before {
          text-align: center;
          font-size: 15px;
          margin-right: 10px;
          font-family: "FontAwesome";
          font-style: normal;
          position: relative;
        }
      }

      time {
        margin: 0;
        margin-right: 5px;
        max-width: 85px;
        background: rgba($themewhite, .25);
        color: #eee;
        float: right;
        padding: 2px 5px;
        font-size: 10px;
        border-radius: 3px;
        font-weight: 400;
      }

      .details, time, .badge {
        pointer-events: none;
      }

      &.reading {
        opacity: .5;
        pointer-events: none;
      }
    }
  }

  @include has(footer) {
    text-align: center;
    padding-top: 1em;
    position: relative;

    > a {
      padding: .4em .8em;
      color: #b2b2b2;

      &:hover {
        color: #fff;
      }
    }

    .clear-all {
      position: absolute;
      right: .8em;
      top: 0;
      line-height: 34px;

      i {
        pointer-events: none;
      }
    }
  }

  @include has(empty) {
    display: flex;
    justify-content: center;
    align-items: center;
    @include am(zoom .55s backwards);

    img {
      width: 130px;
      height: 130px;
    }
  }
}

.inbox-type-user {
  background-color: $youtube-color !important;

  &:before {
    content: '\f007';
  }
}

.inbox-type-credit {
  background-color: $facebook-color !important;

  &:before {
    content: '\f06b';
  }
}

.inbox-type-experience {
  background-color: $wechat-color !important;

  &:before {
    content: '\f241';
    left: -3px;
    top: 1px;
  }
}

.inbox-type-normal {
  background: $themedarkblue !important;
  
  &:before {
    content: '\f0a2';
    left: -1px;
    top: 0;
  }
}

.expand-transition {
  @include ts(all .5s ease-in-out);
  height: 100%;
}

.expand-enter {
  @include rotateX(-90deg);
  height: 100%;
}

.expand-leave {
  height: 0 !important;
  opacity: 0;
  @include rotateX(90deg);
}