.Input {
  position: relative;
  z-index: 1;
  display: block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
  height: 60px;
}

.Input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: $themedarkblue;
  font-weight: bold;
  font-family: inherit;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.Input__field:focus {
  outline: none;
  border: 0 !important;
}

.Input__field:-webkit-autofill {
  background: white;
  box-shadow: 0 0 0px 1000px white inset;
}

.Input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: $themedarkblue;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
}

/* Styles */
.Input--createdu {
  margin: 1.5em 1em 1em;
  @include ts(margin ease-in-out .25s);
  @include am(fadeInDown .45s backwards);
}

.Input--createdu.Input--filled {
  margin-top: 3.5em !important;
}

.Input__field--createdu {
  padding: 0.95em 0.3em;
  width: 100%;
  background: transparent;
  color: $themedarkblue;
  font-size: 1.3em;
  border-radius: 5px;
  border: 1px solid rgba($themedarkblue, 0.2);
  -webkit-transition: border ease-in .25s;
  -moz-transition: border ease-in .25s;
  transition: border ease-in .25s;

  &#password {
    padding-right: 2em !important;
  }
}

.Input__label--createdu {
  position: absolute;
  width: 100%;
  text-align: left;
  pointer-events: none;
}

.Input__label-content--createdu {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  background: linear-gradient(to bottom, transparent, #fff, transparent)
}

.Input__label--createdu::before,
.Input__label--createdu::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0px;
  background: $themedarkblue;
  -webkit-transition: -webkit-transform 0.3s, height 0.25s;
  transition: transform 0.3s, height 0.25s;
}

.Input__label--createdu::before {
  top: 0;
}

.Input__label--createdu::after {
  bottom: 0;
}

.Input__field--createdu:focus + .Input__label--createdu .Input__label-content--createdu,
.Input--filled .Input__label-content--createdu {
  -webkit-transform: translate3d(0, -90%, 0);
  transform: translate3d(0, -90%, 0);
  background: transparent;
}

.Input__field--createdu:focus + .Input__label--createdu::before,
.Input--filled .Input__label--createdu::before {
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0);
  height: 3px;
}

.Input__field--createdu:focus + .Input__label--createdu::after,
.Input--filled .Input__label--createdu::after {
  -webkit-transform: translate3d(0, 0.5em, 0);
  transform: translate3d(0, 0.5em, 0);
  height: 3px;
}

.Input--filled .Input__field {
  border: 0 !important;
}

.Input__eye {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1em;
  padding: 0 .7em;
  cursor: pointer;
  width: 40px;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 3;

  &:before {
    display: inline;
    content: "\f06e";
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 1.1em;
    color: $light-red;
  }

  &.visible:before {
    content: "\f070" !important;
    color: $themedarkblue;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes zoom {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.15, 1.15, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translateX(0);
  }
}