@charset "utf-8";

$fonts: "Avenir Next", "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;

/*
* Color definition
*/
$primary-dark:        #161616;
$primary-light:       #fff;
$primary-light-hover: #eea365;
$pace-color:          #2299dd;
$themewhite:          #f9f7f6;
$themelightblue:      rgb(135, 178, 200);
$themedarkblue:       rgb(13, 59, 98);
$light-green:         #1ECD97;
$themedarkgreen:      #8E9191;
$buttonError:         #FB797E;
$labelError:          #f71212;
$light-red:           #E07D7D;
$warning-dark:        #646464;
$button-light-blue:   #529ecc;
$pink-color:          #cd2fc6;

$twitter-color:  rgb(114, 146, 244);
$youtube-color:  rgb(255, 41, 41);
$facebook-color: rgb(53, 78, 142);
$wechat-color:   rgb(48, 170, 26);
$weibo-color:    rgb(239, 78, 78);
$qq-color:       rgb(7, 171, 221);

$bubble-self-color: rgb(24, 132, 248);

/*
 * Pixels
 */
$nav-height: 60px;
$full-max-width: 1600px;
$top-menu-width: 300px;
$auth-form-width: 370px;
$search-bar-width: 165px;